<mat-form-field appearance="outline" class="search-bar">
    <mat-label>Pesquisar</mat-label>
    <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="searchAutocomplete">
    <mat-icon matIconPrefix>search</mat-icon>
    <mat-autocomplete #searchAutocomplete="matAutocomplete">
        @for (group of searchGroupsOptions | async; track group) {
        <mat-optgroup [label]="group.type">
            @for (element of group.elements; track element) {
            <mat-option [value]="element.id">
                <img [src]="element.img ?? '/assets/img/mutec_logo.png'" alt="Imagem de {{ element.name }}" height="20" width="20">
                {{element.name}}
            </mat-option>
            }
        </mat-optgroup>
        }
    </mat-autocomplete>
</mat-form-field>