<div class="carousel">
    <div class="carousel-wrapper">
        <div class="carousel-slide" *ngFor="let el of elements">
            <li (click)="previewItem(el.id)" class="list__element"
                [attr.aria-labelledby]="'title-element-' + el.id">
                <app-list-element [element]="el"></app-list-element>
            </li>
        </div>
    </div>

    <div class="carousel-pagination"></div>

    <div class="carousel-button-prev"></div>
    <div class="carousel-button-next"></div>
</div>