<div class="carousel" [attr.orientation]="carouselSettings.orientation"
    [ngClass]="{'paginated': carouselSettings.pagination}">
    <div class="carousel-container">
        <ul class="carousel-wrapper" (scroll)="onScroll($event)">
            <div *ngIf="carouselSettings.gutters" [ngStyle]="{'flex': '0 0 ' + slideWidth + '%'}"></div>
            <li *ngFor="let el of elements" [ngStyle]="{'flex': '0 0 ' + slideWidth + '%'}"
                (click)="slideClick(el.id)" class="carousel-slide list__element"
                [attr.aria-labelledby]="'title-element-' + el.id">
                <app-list-element [element]="el"></app-list-element>
            </li>
            <div *ngIf="carouselSettings.gutters" [ngStyle]="{'flex': '0 0 ' + slideWidth + '%'}"></div>
        </ul>
    </div>

    <div *ngIf="carouselSettings.pagination" class="carousel-pagination"></div>

    <button *ngIf="carouselSettings.navigation && windowWidth >= 768" mat-icon-button
        class="carousel-navigation carousel-button-prev">
        <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
    <button *ngIf="carouselSettings.navigation && windowWidth >= 768" mat-icon-button
        class="carousel-navigation carousel-button-next">
        <mat-icon>arrow_forward_ios_new</mat-icon>
    </button>
</div>