.carousel {
    position: relative;
    width: 100%;
}

.carousel-container {
    overflow-x: hidden;
    width: 100%;
}

.carousel-wrapper {
    display: flex;
    flex-wrap: nowrap;

    overflow: auto;
    scrollbar-width: none;
    width: 100%;

    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.carousel-wrapper.dragging {
    user-select: none;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.carousel-wrapper.moving > * {
    pointer-events: none;
}

.carousel .carousel-wrapper .list__element.carousel-slide {
    max-width: unset;
    scroll-snap-align: center;
}

.carousel .gutter {
    flex: 0 0 100%;
}

/* Navigation */
.carousel-navigation {
    display: none;

    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .carousel-navigation {
        display: block;
    }
}

.carousel.paginated .carousel-navigation {
    top: calc(50% - var(--content-padding));
}

.carousel-button-prev {
    left: -50px;
}

.carousel-button-next {
    right: -50px;
}

/* Pagination */
.carousel-pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--content-padding);
}

.carousel-pagination > button {
    height: 10px;
    width: 10px;
    
    background-color: var(--pastel-color);
    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: width 0.3s ease-out;
}

.carousel-pagination > button:has(~button) {
    margin-right: 5px;
}

.carousel-pagination > button:not(:disabled):hover {
    background-color: var(--hover-pastel-color);
}

.carousel-pagination > button.active {
    background-color: var(--primary-color);
    cursor: default;
    width: 30px;
}