.carousel {
    position: relative;
    width: 100%;
}

.carousel-container {
    overflow-x: hidden;
    width: 100%;
}

.carousel-wrapper {
    display: flex;
    flex-wrap: nowrap;

    overflow: auto;
    scrollbar-width: none;
    width: 100%;
}

.carousel-wrapper.dragging {
    user-select: none;
}

.carousel-wrapper.moving > * {
    pointer-events: none;
}

.carousel .carousel-wrapper .list__element.carousel-slide {
    max-width: unset;
    scroll-snap-align: center;
}

/* Navigation */
.carousel-navigation {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

.carousel.paginated .carousel-navigation {
    top: calc(50% - var(--content-padding));
}

.carousel-button-prev {
    left: -40px;
}

.carousel-button-next {
    right: -40px;
}

/* Pagination */
.carousel-pagination {
    padding: var(--content-padding);
}