.carousel {
    overflow-x: hidden;
    width: 100%;
}

.carousel-wrapper {
    display: flex;
    flex-wrap: nowrap;

    overflow-x: auto;
    width: 100%;
}

.carousel .carousel-wrapper .list__element {
    max-width: unset;
}