<form class="create-item" [formGroup]="createItemForm">
    
    <h2>Cadastrar Item</h2>
    
    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input type="text"
        matInput
        placeholder="Nome"
        formControlName="name"
        />
        @if (createItemForm.get('name')?.hasError('required')) {
            <mat-error>Nome obrigatório</mat-error>
        }
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Ano</mat-label>
        <input type="number" min="1000" max="2099"
        matInput
        formControlName="year"
        />
        @if (createItemForm.get('year')?.hasError('required')) {
            <mat-error>Ano obrigatório</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fabricante</mat-label>
        <input type="text"
        matInput
        placeholder="Fabricante"
        formControlName="manufacturer"
        />
        @if (createItemForm.get('manufacturer')?.hasError('required')) {
            <mat-error>Fabricante obrigatório</mat-error>
        }
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea matInput placeholder="Descrição do item" formControlName="description"></textarea>
        @if (createItemForm.get('description')?.hasError('required')) {
            <mat-error>Descrição obrigatória</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Foto</mat-label>
        <input type="text"
        matInput
        formControlName="photo"
        enctype="multipart/form-data"
        />
        @if (createItemForm.get('photo')?.hasError('required')) {
            <mat-error>Foto obrigatória</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="category">
        <mat-option value="None">Nenhuma</mat-option>
        @for (category of categories; track category) {
          <mat-option [value]="category.name">{{category.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Seção</mat-label>
        <mat-select formControlName="section">
          <mat-option value="None">Nenhuma</mat-option>
          @for (section of sections; track section) {
            <mat-option [value]="section.name">{{section.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>    

    <button mat-stroked-button (click)="onSubmit()">Cadastrar</button>
</form>
