.qrcode-reader-button {
    position: fixed;
    right: 15px;
    bottom: 15px;

    height: 75px;
    width: 75px;
}

.dialog-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 var(--content-padding);
    padding-left: 0;
}

.qrcode-content {
    display: flex;
    flex-direction: column;
}

.qrcode-video {
    max-width: 80vw;
}

@media (min-width: 768px) {
    .qrcode-video {
        max-height: 50vh;
    }
}