.adm-title {
    margin-bottom: var(--content-padding);

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.adm-title button {
    background-color: yellowgreen;
    color: white;
    box-shadow: none;
}

.adm-responsive {
    display: block;
    overflow: auto;
}

.adm-table .expand-col {
    padding: 0;
}

.adm-table .expand-col > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adm-table .adm-actions-header {
    text-align: center;
}

.adm-table .adm-col-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adm-table .row-with-details:not(.expanded-row):hover {
    background: #E8E8E8;
}

.adm-table .row-with-details td {
    border-bottom: none;
}

.adm-table .detail-row {
    height: 0;
}

.adm-table .element-detail {
    overflow: hidden;
}

/* .adm-table .element-detail.expanded-detail {

} */

.adm-table .element-detail .img-frame {
    border-color: #FFC30A;
    border-radius: 5px;
    border-width: 5px;
    border-style: double;

    margin-right: 10px;
    margin-bottom: 10px;

    width: 120px;
    min-height: 120px;
    float: left;

    display: flex;
    align-items: center;
}

.adm-table .element-detail .img-frame img {
    max-width: 100%;
    height: auto;
}