<main class="home" (scroll)="onScroll($event)">
    <app-header class="home-header"></app-header>

    <section class="mutec-title">
        <div class="mutec-title__text content">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </div>
    </section>

    <div class="mutec-home">
        <section class="mutec-topics content">
            <app-home-title text="OBJETIVO"></app-home-title>
            <p>O objetivo do MUTEC é preservar a história da tecnologia e oferecer um acervo de pesquisa que pode ser acessado por alunos da graduação e, especialmente, da pós-graduação em áreas do conhecimento como ergonomia, usabilidade, etc. </p>
            <p>De acordo com o professor Pelisson, a proposta é que o espaço receba visitas de alunos do Ensino Médio e que ofereça oficinas para a comunidade externa.</p>
        </section>
        
        <section class="mutec-topics content py-0">
            <app-home-title text="EXPLORE"></app-home-title>
            <div class="mb-2" role="separator"></div>
            <app-carousel [getListRequest]="homeItemsRequest" (slideClicked)="previewItem($event)"></app-carousel>
        </section>

        <section class="mutec-topics content">
            <app-home-title text="HISTÓRIA"></app-home-title>
            <p>O Museu de Tecnologias (MUTEC) foi idealizado pelo professor Pelisson, inspirado pelo interesse dos alunos em equipamentos antigos apresentados em suas aulas. Inicialmente concebido como um museu de informática, o projeto evoluiu para abranger tecnologias em geral, alinhando-se à vocação tecnológica da UTFPR. A primeira exposição ocorreu em 2008, com vitrines projetadas por estudantes de Design.</p>
        </section>
        
        <section class="mutec-topics content">
            <app-home-title text="VISITE"></app-home-title>
            <p>As visitas são acompanhadas e precisam ser agendadas. Os interessados devem enviar e-mail para pelisson&#64;utfpr.edu.br.</p>
        </section>
    </div>

    <app-footer></app-footer>
</main>