.mutec-title{
    padding-top: 15px;
    padding-bottom: 40px;
}

.mutec-title p{
    font-size: 27px;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 27px;
    margin-bottom: 5px;
}

p{
    font-size: 18px;
    text-align: justify;
}

.mutec-topics{
    margin-bottom: 30px;
}

.mutec-topics p{
    margin-top: 13px;
}

.home-img {
    width: 100%;
}

.home {
    background-color: var(--mat-sys-background);
    position: relative;
    padding-top: var(--content-padding);
    margin-top: -350px;
}
