.mutec-title{
    padding-top: 15px;
    padding-bottom: 40px;
}

.mutec-title p{
    font-size: 27px;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 27px;
    margin-bottom: 5px;
}

p{
    font-size: 18px;
    text-align: justify;
}

.mutec-home img {
    display: none;
}

.mutec-topics{
    margin-bottom: 30px;
}

.mutec-topics p{
    margin-top: 13px;
}

@media (min-width: 768px) {
    .mutec-home img {
        display: block;
        float: right;
        padding-bottom: var(--content-padding);
        padding-left: var(--content-padding);
        width: 450px;
    }
}