<img class="home-img" src="assets/img/mutec_photo.png" alt="Imagem do museu">

<div class="home">
    <section class="mutec-title content">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
    </section>

    <app-carousel></app-carousel>
    
    <div class="mutec-home content">
        <section class="mutec-topics">
            <h2>Objetivo</h2>
            <p>O objetivo do MUTEC é preservar a história da tecnologia e oferecer um acervo de pesquisa que pode ser acessado por alunos da graduação e, especialmente, da pós-graduação em áreas do conhecimento como ergonomia, usabilidade, etc. </p>
            <p>De acordo com o professor Pelisson, a proposta é que o espaço receba visitas de alunos do Ensino Médio e que ofereça oficinas para a comunidade externa.</p>
        </section>
        
        <section class="mutec-topics">
            <h2>História</h2>
            <p>O Museu de Tecnologias (MUTEC) foi idealizado pelo professor Pelisson, inspirado pelo interesse dos alunos em equipamentos antigos apresentados em suas aulas. Inicialmente concebido como um museu de informática, o projeto evoluiu para abranger tecnologias em geral, alinhando-se à vocação tecnológica da UTFPR. A primeira exposição ocorreu em 2008, com vitrines projetadas por estudantes de Design.</p>
        </section>
        
        <section class="mutec-topics">
            <h2>Marque sua visita</h2>
            <p>As visitas são acompanhadas e precisam ser agendadas. Os interessados devem enviar e-mail para pelisson&#64;utfpr.edu.br.</p>
        </section>
    </div>
</div>