<h1>Gestão de Seções</h1>

<div class="adm-table-header">
    <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="search($event)" placeholder="Ex. Calculadora" #input>
    </mat-form-field>
    <button mat-mini-fab (click)="createSection()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="adm-responsive">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort (matSortChange)="sortData($event)"
        class="adm-table">
        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="Expandir">&nbsp;</th>
            <td mat-cell *matCellDef="let element" class="expand-col">
                <div>
                    @if (expandedElement === element) {
                    <mat-icon>keyboard_arrow_up</mat-icon>
                    } @else {
                    <mat-icon>keyboard_arrow_down</mat-icon>
                    }
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let section">{{section.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
            <td mat-cell *matCellDef="let section">{{section.name}}</td>
        </ng-container>

        <ng-container matColumnDef="items">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Itens</th>
            <td mat-cell *matCellDef="let section">{{section.items.length}}</td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef aria-label="Expandir" class="adm-actions-header">Ações</th>
            <td mat-cell *matCellDef="let element">
                <div class="adm-col-actions">
                    <button mat-icon-button aria-label="Editar" matTooltip="Editar"
                        (click)="$event.stopPropagation(); editSection(element.id)">
                        <mat-icon style="color: cornflowerblue;">edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Excluir" matTooltip="Excluir"
                        (click)="$event.stopPropagation(); deleteSection(element.id)">
                        <mat-icon style="color: tomato;">delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithActions.length">
                <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                    [class.expanded-detail]="expandedElement === element">
                    <div class="img-frame">
                        <img loading="lazy" [src]="element.image ?? '/assets/img/mutec_logo.png'"
                            alt="Imagem de {{ element.name }}">
                    </div>
                    <div>{{element.description}}</div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithActions"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithActions;"
            (click)="expandedElement = expandedElement === element ? null : element"
            [class.expanded-row]="expandedElement === element"
            class="row-with-details">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

        <tr class="mat-row" *matNoDataRow>
            <div *ngIf="input.value; else noItem" class="no-results">Nenhum resultado para "{{input.value}}"</div>
            <ng-template #noItem>
                <div class="no-results">Nenhuma seção encontrada</div>
            </ng-template>
        </tr>
    </table>
</div>

<app-paginator [list]="this"></app-paginator>
