<h1>{{ title }}</h1>

<form class="adm-form" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input type="text" matInput placeholder="Nome" formControlName="name" />
    @if (form.get('name')?.hasError('required')) {
    <mat-error>Nome obrigatório</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Descrição</mat-label>
    <textarea matInput placeholder="Descrição da seção" formControlName="description" rows="4"></textarea>
    @if (form.get('description')?.hasError('required')) {
    <mat-error>Descrição obrigatória</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Foto</mat-label>
    <input type="text" matInput formControlName="image"/>
    @if (form.get('image')?.hasError('required')) {
    <mat-error>Foto obrigatória</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Itens</mat-label>
    <mat-select [multiple]="true" formControlName="items">
      @for (item of items; track item) {
      <mat-option [value]="item.id">{{item.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="d-flex flex-wrap justify-content-end">
    <button mat-flat-button (click)="onSubmit()" class="save-button">Salvar</button>
    <button mat-button (click)="cancel()" type="button" class="cancel-button">Cancelar</button>
  </div>
</form>