<h1>{{ title }}</h1>

<form class="adm-form" [formGroup]="form">
  <div class="row">
    <div class="col-12 col-lg-8">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input type="text" matInput placeholder="Nome" formControlName="name" />
        @if (form.get('name')?.hasError('required')) {
        <mat-error>Nome obrigatório</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-6 col-lg-2">
      <mat-form-field appearance="outline">
        <mat-label>Ano</mat-label>
        <input type="number" min="1000" max="2099" matInput formControlName="year" />
        @if (form.get('year')?.hasError('required')) {
        <mat-error>Ano obrigatório</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-6 col-lg-2">
      <mat-form-field appearance="outline">
        <mat-label>Fabricante</mat-label>
        <input type="text" matInput placeholder="Fabricante" formControlName="manufacturer" />
        @if (form.get('manufacturer')?.hasError('required')) {
        <mat-error>Fabricante obrigatório</mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Descrição</mat-label>
    <textarea matInput placeholder="Descrição do item" formControlName="description" rows="4"></textarea>
    @if (form.get('description')?.hasError('required')) {
    <mat-error>Descrição obrigatória</mat-error>
    }
  </mat-form-field>

  <!-- <button type="button" mat-raised-button (click)="imgInput.click()" role="button">Selecionar Foto</button>
  <input #imgInput hidden (change)="onFileSelected()" formControlName="img" type="file" accept="image/png, image/jpeg, image/jpg"> -->

  <div class="row">
    <div class="col-12 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option [value]="null">Nenhuma</mat-option>
          @for (category of categories; track category) {
          <mat-option [value]="category.id">{{category.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-12 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>Seção</mat-label>
        <mat-select formControlName="section">
          <mat-option [value]="null">Nenhuma</mat-option>
          @for (section of sections; track section) {
          <mat-option [value]="section.id">{{section.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <app-file-uploader [control]="form.get('image')" [uploadedFiles]="[image]" path="item"></app-file-uploader>

  <div class="d-flex flex-wrap justify-content-end">
    <button mat-flat-button (click)="onSubmit()" class="save-button">Salvar</button>
    <button mat-button (click)="cancel()" type="button" class="cancel-button">Cancelar</button>
  </div>
</form>