main {
  background-color: var(--mat-sys-background);
  margin-top: var(--header-size);

  min-height: 75vh;
}

.main-loader {
  height: 100vh;
  width: 100vw;
  background-color: transparent;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: var(--z-loader);
}

.main-loader .loader-panel {
  content: "";
  position: absolute;

  height: 100%;
  width: 100%;

  /* background-color: rgba(0, 0, 0, 0.2); */
  backdrop-filter: blur(3px);
}

.main-loader .loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: var(--content-padding);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;

  z-index: 1;
}

.main-loader p {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

::ng-deep .main-loader .loader-container .loader .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
::ng-deep .main-loader .loader-container .loader .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: white;
}

.loading-requests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-requests .loading-request {
  display: block;
  position: relative;

  background-color: var(--mat-sys-background);
  border-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--mat-sys-label-medium-font);
  line-height: var(--mat-sys-label-medium-line-height);
  font-size: var(--mat-sys-label-medium-size);
  font-weight: var(--mat-sys-label-medium-weight);
  letter-spacing: var(--mat-sys-label-medium-tracking);

  width: 200px;

  transition: all 0.5s ease-in;
}
.loading-requests .loading-request:has(~.loading-request) {
  margin-bottom: 5px;
}

.loading-requests .loading-request .mat-mdc-progress-spinner {
  min-height: 15px;
  min-width: 15px;
}
.loading-requests .loading-request .mat-icon {
  color: yellowgreen;
  font-size: 15px;
  height: 15px;
  width: 15px;

  margin-right: 5px;
}
.loading-requests .loading-request.error .mat-icon {
  color: tomato;
}

.loading-requests .loading-request.finished {
  border-color: yellowgreen;
}
.loading-requests .loading-request.error {
  border-color: tomato;
}