<mat-chip-set aria-label="Migalhas" class="breadcrumb">
    <mat-chip aria-label="Navega à página inicial" role="link" routerLink="">
        Página Inicial
    </mat-chip>
    <mat-chip disabled>Seções</mat-chip>
</mat-chip-set>

<h1>Seções</h1>

<app-paginator [list]="this"></app-paginator>

<ul class="list">
    <li *ngFor="let el of elements" (click)="accessSection(el.id)" class="list__element"
        [attr.aria-labelledby]="'title-element-' + el.id">
        <app-list-element [element]="el"></app-list-element>
    </li>
</ul>

@if (sampleSize > 20 && count > 20) {
    <app-paginator [list]="this"></app-paginator>
}
