.login-mutec {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-top: var(--header-size);
}

.login-mutec {
  h2 {
    margin-bottom: 10px;
    padding: 20px;
  }
}

.login-mutec {
  button {
    margin-top: 10px;
  }
}