<div class="adm-title">
    <h1>Gestão de Itens</h1>
    <button mat-mini-fab>
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="adm-responsive">
    <table mat-table [dataSource]="sortedData" multiTemplateDataRows matSort (matSortChange)="sortData($event)"
        class="adm-table">
        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="Expandir">&nbsp;</th>
            <td mat-cell *matCellDef="let element" class="expand-col">
                <div>
                    @if (expandedElement === element) {
                    <mat-icon>keyboard_arrow_up</mat-icon>
                    } @else {
                    <mat-icon>keyboard_arrow_down</mat-icon>
                    }
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let item">{{item.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
            <td mat-cell *matCellDef="let item">{{item.name}}</td>
        </ng-container>

        <ng-container matColumnDef="manufacturer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fabricante</th>
            <td mat-cell *matCellDef="let item">{{item.manufacturer}}</td>
        </ng-container>

        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ano</th>
            <td mat-cell *matCellDef="let item">{{item.year}}</td>
        </ng-container>

        <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Seção</th>
            <td mat-cell *matCellDef="let item">{{item.section.name}}</td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
            <td mat-cell *matCellDef="let item">{{item.category.name}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef aria-label="Expandir" class="adm-actions-header">Ações</th>
            <td mat-cell *matCellDef="let element">
                <div class="adm-col-actions">
                    <button mat-icon-button aria-label="Editar">
                        <mat-icon style="color: cornflowerblue;">edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Excluir">
                        <mat-icon style="color: tomato;">delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithActions.length">
                <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                    [class.expanded-detail]="expandedElement === element">
                    <div class="img-frame">
                        <img loading="lazy" [src]="element.img ?? '/assets/img/mutec_logo.png'"
                            alt="Imagem de {{ element.name }}">
                    </div>
                    <div>{{element.description}}</div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithActions"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithActions;"
            (click)="expandedElement = expandedElement === element ? null : element"
            [class.expanded-row]="expandedElement === element"
            class="row-with-details">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
</div>
