<div class="carousel" [ngClass]="{'paginated': activeSettings.pagination}">
    <div class="carousel-container">
        <ul #wrapper scrollDraggable class="carousel-wrapper" (scroll)="onScroll($event)">
            <div *ngIf="activeSettings.gutters && slideCount > 1" class="gutter"></div>
            <li #slide *ngFor="let el of elements; index as i" (click)="slideClick(el.id)" class="carousel-slide"
                [ngStyle]="{ 'flex': '0 0 ' + slideWidth + '%' }">
                <ng-container *ngTemplateOutlet="template; context: { $implicit: el, index: i }"></ng-container>
            </li>
            <div *ngIf="activeSettings.gutters && slideCount > 1" class="gutter"></div>
        </ul>
    </div>

    <div *ngIf="activeSettings.pagination" class="carousel-pagination">
        <button *ngFor="let el of elements; index as i" [disabled]="activeSlide == i"
            (click)="scrollTo(i)" [ngClass]="{'active': activeSlide == i}">
        </button>
    </div>

    <button *ngIf="activeSettings.navigation" mat-icon-button [disabled]="activeSlide == 0"
        (click)="scrollTo(activeSlide - 1)" class="carousel-navigation carousel-button-prev">
        <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
    <button *ngIf="activeSettings.navigation" mat-icon-button [disabled]="activeSlide == elements.length - 1"
        (click)="scrollTo(activeSlide + 1)" class="carousel-navigation carousel-button-next">
        <mat-icon>arrow_forward_ios_new</mat-icon>
    </button>
</div>