<h1>Criar Categoria</h1>

<form class="adm-form" [formGroup]="createCategoryForm">
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input type="text" matInput placeholder="Nome" formControlName="name" />
    @if (createCategoryForm.get('name')?.hasError('required')) {
    <mat-error>Nome obrigatório</mat-error>
    }
  </mat-form-field>

  <form class="add-items-form" [formGroup]="createCategoryForm">
    <h2>Adicionar itens</h2>

    <div class="add-items">
      <mat-form-field appearance="outline">
        <mat-label>Item</mat-label>
        <mat-select>
          <mat-option>Nenhum</mat-option>
          @for (item of items; track item) {
          <mat-option [value]="item.name">{{item.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button mat-stroked-button>Adicionar</button>
    </div>
  </form>

  <button mat-stroked-button (click)="onSubmit()">Criar</button>
</form>