@use '@angular/material' as mat;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--mat-sys-background);
  font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
  --secondary-color: #7D8EA4;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
  --medium-gray: #7a786f;
  --primary-color: #FFC30A;
  --pastel-color: #faecb9;
  --hover-pastel-color: #ddcf9c;
  --default-dark: #161615;

  /* Content Sizes */
  --header-size: 150px;
  --content-padding: 15px;
  --page-max-width: 100%;
  --footer-content-padding: 10px;

  /* Z-index layers */
  --z-header: 10;

  // Loader
  @include mat.progress-spinner-overrides((
    size: 50px,
    active-indicator-width: 50px,
    active-indicator-color: var(--primary-color),
  ));
}

@media (min-width: 576px) {
  :root {
    --header-size: 110px;
  }
}

@media (min-width: 768px) {
  :root {
    --page-max-width: 80%;
  }
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
  margin: auto;
  max-width: var(--page-max-width);
  padding: var(--content-padding);
}
