<div class="mutec-home">
    <h1> MUTEC </h1>
    <p> O Museu de Tecnologias do Campus Curitiba da UTFPR </p>
</div>

<div class="mutec-objective">
    <div class="mutec-topics">
        <h2>Objetivo</h2>
        <div class="mutec-texts">
            <p>O objetivo do MUTEC é preservar a história da tecnologia e oferecer um acervo de pesquisa que pode ser acessado por alunos da graduação e, especialmente, da pós-graduação em áreas do conhecimento como ergonomia, usabilidade, etc. </p>
        </div>
        <div class="mutec-texts">
            <p>De acordo com o professor Pelisson, a proposta é que o espaço receba visitas de alunos do Ensino Médio e que ofereça oficinas para a comunidade externa.</p>
        </div>
    </div>
    <img src="assets/img/mutec_photo.png" width="450px" style="padding-right: 5%;">
</div>

<div class="mutec-topics">
    <h2>História</h2>
    <div class="mutec-texts">
        <p>O Museu de Tecnologias (MUTEC) foi idealizado pelo professor Pelisson, inspirado pelo interesse dos alunos em equipamentos antigos apresentados em suas aulas. Inicialmente concebido como um museu de informática, o projeto evoluiu para abranger tecnologias em geral, alinhando-se à vocação tecnológica da UTFPR. A primeira exposição ocorreu em 2008, com vitrines projetadas por estudantes de Design.</p>
    </div>
    
</div>

<div class="mutec-topics">
    <h2>Marque sua visita</h2>
    <p>As visitas são acompanhadas e precisam ser agendadas. Os interessados devem enviar e-mail para pelisson&#64;utfpr.edu.br.</p>
</div>